<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>

<body>
    <form class="login100-form validate-form" action="sign_in" method="POST">
        {% csrf_token %}
        <span class="login100-form-title p-b-15 p-t-15">
            Hisobga kirish
        </span>

        <div class="wrap-input100 validate-input" data-validate="Enter username">
            <!-- <input class="input100" type="text" name="username" placeholder="Foydalanuvchi nomi(username)"> -->
            {{ form.username }}
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
            <!-- <input class="input100" type="password" name="password" placeholder="Parolingiz"> -->
            {{ form.password }}
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                Kirish
            </button>
        </div>

        <div class="text-center p-t-20">
            <a class="txt1" href="sign_up">
                Ro'yhatdan o'tish
            </a>
        </div>

        <div class="text-center p-t-20">
            <a class="txt1" href="reset_password">
                Parolni unitdingizmi?
            </a>
        </div>
    </form>
</body>

</html>